<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{usr/layout/layout.html}">
<head>
    <title>Product Enroll</title>
</head>

<body>
<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    document.getElementById('preview').src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                document.getElementById('preview').src = "";
            }
        }
    </script>

<div class="contact-form">
    <form th:action="@{/product/enroll}" th:object="${productDto}" method="post" enctype="multipart/form-data">
        <h1>Add Product</h1>

        <div class="form-group">
            <label for="name">제품 이름</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="price">제품 가격</label>
            <input type="number" class="form-control" id="price" name="price" step="100" >
        </div>
        <div class="form-group">
            <label for="detail">제품 설명</label>
            <textarea class="form-control" id="detail" rows="5" name="detail"></textarea>
        </div>
        <div class="form-group">
            <label for="inventory">제품 수량</label>
            <input type="number" class="form-control" id="inventory" name="inventory" step="1">
        </div>
        <div class="form-group">
            <label for="image">제품 이미지 미리보기</label>
            <input type="file" class="form-control" id="image" name="image" onchange="readURL(this);">
            <img id="preview" />
        </div>
        <button type="submit" class="btn btn-primary btn-block"> 제품 등록</button>
    </form>
</div>
</main>
</body>
</html>