<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Email Send</title>
    <link rel="stylesheet" href="/resource/mailForm.css">
    <script src="/resource/mailForm.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    document.getElementById('preview').src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                document.getElementById('preview').src = "";
            }
        }
    </script>

    <style>
        #preview {
            width: 420px;
            height: auto;
            border: 3px solid #ccc;
        }
    </style>
</head>

<body>
<div class="contact-form">
    <form th:action="@{/product/enroll}" th:object="${productDto}" method="post" enctype="multipart/form-data">
        <h1>Add Product</h1>

        <div class="form-group">
            <label for="name">제품 이름</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="price">제품 가격</label>
            <input type="number" class="form-control" id="price" name="price" step="100" >
        </div>
        <div class="form-group">
            <label for="detail">제품 설명</label>
            <textarea class="form-control" id="detail" rows="5" name="detail"></textarea>
        </div>
        <div class="form-group">
            <label for="inventory">제품 수량</label>
            <input type="number" class="form-control" id="inventory" name="inventory" step="1">
        </div>
        <div class="form-group">
            <label for="image">제품 이미지 미리보기</label>
            <input type="file" class="form-control" id="image" name="image" onchange="readURL(this);">
            <img id="preview" />
        </div>
        <button type="submit" class="btn btn-primary btn-block"> 제품 등록</button>
    </form>
</div>
</body>
</html>