<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Product List</title>
</head>
<body>

<form method="post" action="/product/search">
  <input type="text" name="keyword" placeholder="상품 검색" />
  <input type="submit" value="Search" />
</form>

<h1>Product List</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Inventory</th>
  </tr>
  <tr th:each="product : ${products}">
    <td th:text="${product.name}"></td>
    <td th:text="${product.price}"></td>
    <td th:text="${product.detail}"></td>
    <td th:text="${product.inventory}"></td>
  </tr>
</table>

<form method="get" action="/product/enroll">
  <input type="submit" value="Add Product">
</form>
</body>
</html>