<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{usr/layout/layout.html}">
<head>
  <title th:text="${item.getName()}">타이틀 - 상품 이름</title>
</head>
<body>
<main layout:fragment="main" class="flex-grow justify-center">
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }
  </style>
  <section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6">
        <img class="card-img-top mb-5 mb-md-0" th:if="${item.image != null}" th:src="${item.image.getBucketObjectUrl()}"  alt="이미지" width="200" height="150">
        <img class="card-img-top mb-5 mb-md-0" th:unless="${item.image != null}" th:src="@{//resource/static/img/no_image.gif}"
             alt="이미지" width="200" height="150">
      </div>
      <div class="col-md-6">
        <a  th:href="@{/usr/member/seller/{id}(id=${item.getMember().id})}" class="link-primary" th:text="|판매자 : ${item.getMember().getNickname()}|">판매자 이름</a>
        <div class="small mb-1" th:if="${item.getProductState().ordinal()} == 0" th:text="|재고 : ${item.getInventory()}개|">재고</div>
        <div class="small mb-1" th:unless="${item.getProductState().ordinal()} == 0" th:text="|품절|">재고</div>
        <h1 class="display-5 fw-bolder" th:text="${item.getName()}">상품 이름</h1>
        <div class="fs-5 mb-5">
          <span th:text="|${item.getPrice()} 원|">아이템 가격</span>
        </div>
        <p class="lead" th:text="${item.getDetail()}">아이템 설명</p>

        <div sec:authorize="hasRole('ROLE_BUYER') and isAuthenticated()">
        <form class="d-flex" onsubmit="return additem();" th:action="@{/usr/member/cart/{productId}(productId=${item.id})}" method="post">
          <input class="form-control text-center me-3" id="amount" name="amount" type="num" value="1" style="max-width: 3rem"/>
          <button class="btn btn-outline-dark flex-shrink-0" id="basket" type="submit"><i class="bi-cart4 me-1"></i>장바구니</button>
        </form>
        </div>
        <form class="d-flex" sec:authorize="isAnonymous()">
          <div class="d-flex">
            <a class="btn btn-outline-dark" th:href="@{/usr/member/join}">
              <i class="bi-cart-fill me-1"></i>
              장바구니
            </a>
          </div>
        </form>
        <form class="d-flex">
          <div class="d-flex">
            <a th:href="@{/inquiry/enroll/{productId}(productId=${item.id})}">
              <button  class="btn btn-outline-dark flex-shrink-0" type="button"><i class="bi bi-envelope"></i>문의</button>
            </a>
          </div>
          <div>
            <a th:href="@{/review/enroll/{productId}(productId=${item.id})}">
              <button class="btn btn-outline-dark flex-shrink-0" type="button"><i class="bi bi-chat-left-dots"></i>리뷰</button>
            </a>
          </div>
        </form>

        <script th:inline="javascript">
          /* <![CDATA[ */
          var leftitemcount = [[${item.Inventory}]];

          function additem() {
            var count = document.getElementById("amount").value
            if (isNaN(count)) {
              alert("숫자를 입력해주세요.")
              return false
            } else if (count > leftitemcount) {
              alert("재고가 부족합니다.")
              return false
            } else {
              return true
            }
          }
          /* ]]> */
        </script>
      </div>
    </div>
  </div>
</section>
<!-- 리뷰 테이블 -->
<table class="table">
  <thead class="table-dark">
  <tr class="text-center">
    <th>번호</th>
    <th>제목</th>
    <th>리뷰 내용</th>
    <th>작성자</th>
    <th>작성일시</th>
  </tr>
  </thead>
  <tbody>
  <tr class="text-center" th:each="review, loop : ${reviews}">
    <td th:text="${loop.count}"></td>
    <td th:text="${review.title}"></td>
    <td class="text-start" th:text="${review.content}"></td>
    <td><span th:if="${review.member != null}" th:text="${review.member.nickname}"></span></td>
    <td th:text="${#temporals.format(review.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
  </tr>
  </tbody>
</table>
</main>
</body>
</html>