<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{usr/layout/layout.html}">
<head>
    <title>Review Enroll</title>
    <script>
        function validateForm() {
            var titleInput = document.getElementById('title');
            var contentInput = document.getElementById('content');

            var titleError = document.getElementById('title-error');
            var contentError = document.getElementById('content-error');

            if (titleInput.value.trim() === '') {
                titleError.style.display = 'block';
                return false;
            } else {
                titleError.style.display = 'none';
            }

            if (contentInput.value.trim() === '') {
                contentError.style.display = 'block';
                return false;
            } else {
                contentError.style.display = 'none';
            }

            return true;
        }
    </script>

    <style>
        .contact-form {
            max-width: 800px; /* 폼의 최대 너비 설정 */
        }
    </style>
</head>

<body>
<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div class="contact-form">
        <form th:action="@{/review/enroll/{productId}(productId=${productId})}" th:object="${reviewDto}" method="post"
              onsubmit="return validateForm();">
            <br>
            <h1 class="" style="font-size: 24px; margin-bottom: 10px;">💙️ 리뷰 등록</h1>
            <br>
            <div class="form-group">
                <label for="title">리뷰 제목</label>
                <input type="text" class="form-control" id="title" name="title">
                <small id="title-error" class="text-danger" style="display: none;">리뷰 제목을 입력하세요.</small>
            </div>
            <div class="form-group">
                <label for="content">리뷰 내용</label>
                <textarea class="form-control" id="content" rows="5" name="content"></textarea>
                <small id="content-error" class="text-danger" style="display: none;">리뷰 내용을 입력하세요.</small>
            </div>
            <button type="submit" class="btn btn-primary btn-block bg-gradient-to-r from-sky-500 to-indigo-500"> 리뷰 등록
            </button>
        </form>
        <br><br><br>
    </div>
</main>
</body>
</html>