html, body {
  min-height: 100%;
}
body {
  background: #ff5e63; /* Fallback for browsers that don't support gradients */
  font-family: "Varela Round", sans-serif;
  background: linear-gradient(#566787, #566787)  no-repeat;
}
.contact-form {
  width: 800px;
  margin: 0 auto;
  padding: 40px 0;
}
.contact-form form {
  background: #fff;
  padding: 40px;
  border-radius: 6px;
}
.contact-form h1 {
  text-align: center;
  font-size: 40px;
  margin: 0 0 15px;
}