<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{usr/layout/layout.html}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>장바구니</title>
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="/resource/style.css" rel="stylesheet" />

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

</head>
<body>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">장바구니</h1>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th scope="col">번호</th>
        <th scope="col">상품ID</th>
        <th scope="col">상품명</th>
        <th scope="col">수량</th>
        <th scope="col">수량 추가</th>
        <th scope="col">가격</th>
        <th scope="col">담은날짜</th>
        <th scope="col">삭제</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="cartItem, i : ${cartItemList}">
        <td th:text="${i.count}">1</td>
        <td th:text="${cartItem.product.id}">3번상품</td>
        <td>
          <a th:href="@{/Product/view/{id}(id=${cartItem.product.id})}"
             th:text="${cartItem.product.name}"></a>
        </td>
        <td th:text="${cartItem.count}">수량</td>
        <td class="btn btn-outline-dark">
          <form th:action="@{/templates/usr/member/{id}/cart/{cartItemId}(id=${cartItem.cart.member.id}, cartItemId=${cartItem.id})}" method="get">
            <input type="hidden" name="_method" value="PUT" />
            <input type="hidden" name="count" th:value="1" />
            <button type="submit">수량추가</button>
          </form>
        </td>
        <td th:text="${cartItem.product.price * cartItem.count}">가격</td>
        <td th:text="${cartItem.createDate}">날짜</td>
        <td class="btn btn-outline-dark"><a th:href="@{/templates/usr/member/{memberid}/cart/{cartItemid}/delete(memberid=${cartItem.getCart().getMember().id}, cartItemid=${cartItem.getId()})}" style="text-decoration: none">삭제</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center mt-3">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">총 결제금액</h4>
        </div>
        <form class="card-body">
          <h1 class="card-title pricing-card-title" th:text="${totalPrice} + '₩'">$0</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>잘못 담은 물건이 있는지 확인해보세요!</li>
          </ul>
          <button id="iamportPayment" type="button" class="w-100 btn btn-lg btn-outline-primary">구매하기</button>
        </form>
      </div>
    </div>
  </div>
</main>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
<script type="text/javascript" th:inline="javascript" th:if="${user.isPresent()}">
  /*<![CDATA[*/
  $(document).ready(function() {
    $("#iamportPayment").click(function() {
        payment();
    });
  })
  var buyerEmail = /*[[${user.get().email}]]*/ 'email@email.com';
  var buyerName = /*[[${user.get().nickname}]]*/ 'user';
  var buyerTel = /*[[${user.get().phone}]]*/ '010-0000-0000';
  var totalPrice = /*[[${totalPrice}]]*/ 'default';

  var cartItems = [] ;

  /*[[${cartItems}]].forEach(function(cartItem) {
  cartItems.push({
    productId: cartItem.getProductId(),
    productName: cartItem.getProductName(),
    productCount: cartItem.getProductCount(),
    productPrice: cartItem.getProductPrice(),
    productTotalPrice: cartItem.getProductTotalPrice(),
    orderCreatedDate: cartItem.getCart().getCreatedDate(),
    isCancel: cartItem.getIsCancel(),
  });
});
   */
  function payment() {
    IMP.init('imp86104056');
    IMP.request_pay({
      pg: "kakaopay.TC0ONETIME",
      pay_method: "card",
      merchant_uid: "merchant_" + new Date().getTime(),
      name: "도서",
      amount: totalPrice,
      buyer_email: buyerEmail,
      buyer_name: buyerName,
      buyer_tel: buyerTel,
    }, function (rsp) {
          if (rsp.success) {
            alert("결제가 완료되었습니다. / 고유ID : " + rsp.imp_uid + " / 결제 금액 : " + rsp.paid_amount);
            $.ajax({
              type: "POST",
              url: "/member/cart/checkout/" + /*[[${user.get().id}]]*/,
              contentType: "application/json",
              data: JSON.stringify(cartItems),
              dataType: "json"
            });
          } else {
            alert("결제에 실패하였습니다. / 에러내용 : " + rsp.error_msg + ")");
          }
          document.location.href = /*[[ @{/member/loginForm} ]]*/;
        });
  }
  /*]]>*/
</script>
</body>
</html>