<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>회원가입</title>
</head>
<body>
<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div class="max-w-2xl w-full px-4">

        <form th:action="@{/usr/member/join/buyer}" method="get" class="flex flex-col gap-6">
            <button id="btn-join-1" type="submit" class="btn btn-block btn-primary gap-1">
                <i class="fa-solid fa-user-plus"></i>
                <span>구매자 회원가입</span>
            </button>
        </form>

        <br>

        <form th:action="@{/usr/member/join/seller}" method="get" class="flex flex-col gap-6">
            <button id="btn-join-2" type="submit" class="btn btn-block btn-primary gap-1">
                <i class="fa-solid fa-user-plus"></i>
                <span>판매자 회원가입</span>
            </button>
        </form>


        <div class="flex flex-wrap justify-center">
            <a href="/usr/member/login" class="btn btn-link">로그인</a>
            <a href="#" class="btn btn-link">아이디찾기</a>
            <a href="#" class="btn btn-link">비밀번호찾기</a>
        </div>
    </div>
</main>
</body>

</html>
