<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>구매자 회원가입</title>

    <script>
        var phoneInput = document.getElementById('phoneInput');

        phoneInput.addEventListener('input', function () {
            // 입력값에서 숫자를 제외한 모든 문자 제거
            var cleanedValue = this.value.replace(/\D/g, '');
            // 숫자만 입력되도록 설정
            this.value = cleanedValue;
        });
    </script>
</head>
<body>
<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div class="max-w-2xl w-full px-4">
        <br>
        <h1 class="mb-4">
            <i class="fa-solid fa-user-plus"></i>
            구매자 회원가입
        </h1>

        <form th:action="@{/usr/member/join/buyer}" th:object="${memberJoinDto}" method="post"
              class="flex flex-col gap-6">
            <div class="form-control">
                <label class="label">
                    <span class="label-text">아이디</span>
                </label>
                <input type="text" th:field="*{username}" placeholder="아이디" class="input input-bordered" autofocus/>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">비밀번호</span>
                </label>
                <input type="password" th:field="*{password}" placeholder="비밀번호" class="input input-bordered"/>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">이름</span>
                </label>
                <input type="text" th:field="*{nickname}" placeholder="이름" class="input input-bordered"/>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">이메일</span>
                </label>
                <input type="text" th:field="*{email}" placeholder="이메일" class="input input-bordered"/>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">전화번호</span>
                </label>
                <input type="text" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 11);"
                       th:field="*{phone}" placeholder="전화번호" class="input input-bordered" pattern="[0-9]{11}"
                       maxlength="11" required/>
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">주소</span>
                </label>
                <input type="text" th:field="*{address}" placeholder="주소" class="input input-bordered"/>
            </div>

            <button id="btn-join-1" type="submit"
                    class="btn btn-block gap-1 bg-gradient-to-r from-sky-500 to-indigo-500">
                <i class="fa-solid fa-user-plus"></i>
                <span>구매자 회원가입</span>
            </button>
        </form>

        <div class="flex flex-wrap justify-center">
            <a href="/usr/member/login" class="btn btn-link">로그인</a>
        </div>
    </div>
</main>
</body>

</html>
