<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{usr/layout/layout.html}">
<head>
  <title>수정페이지</title>

  <script>
    var phoneInput = document.getElementById('phoneInput');

    phoneInput.addEventListener('input', function () {
      // 입력값에서 숫자를 제외한 모든 문자 제거
      var cleanedValue = this.value.replace(/\D/g, '');
      // 숫자만 입력되도록 설정
      this.value = cleanedValue;
    });
  </script>

</head>

<body>
<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div class="max-w-2xl w-full px-4">
        <br>
        <h1 class="mb-4">
            <i class="fa-solid fa-user-edit"></i>
            회원 정보 수정
        </h1>

        <form th:action="@{/usr/member/update}" th:object="${memberModifyDto}" method="post"
              class="flex flex-col gap-6">
            <div>
                <input type="text" id="username"  class="form-control input input-bordered w-full" th:placeholder="${member.getUsername()}" readonly/>
            </div>
            <div>
                <input type="text" th:field="*{nickname}" id="nickname" class="form-control input input-bordered w-full" th:placeholder="${member.getNickname()}"
                       th:value="${memberModifyDto.nickname ?: member.getNickname()}"/>
            </div>

            <div>
                <input type="text" th:field="*{address}" id="address" class="form-control input input-bordered w-full" th:placeholder="${member.getAddress()}"
                       th:value="${memberModifyDto.address ?: member.getAddress()}"/>
            </div>

            <div>
                <input type="text" th:field="*{phone}" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0, 11);" id="phone" class="form-control input input-bordered w-full" th:placeholder="${member.getPhone()}"
                       th:value="${memberModifyDto.phone ?: member.getPhone()}"/>
            </div>

            <div sec:authorize="hasRole('ROLE_SELLER')">
                <input type="text" th:field="*{account}" id="account" class="form-control input input-bordered w-full" th:placeholder="${member.getAccount()}"
                       th:value="${memberModifyDto.account ?: member.getAccount()}"/>
            </div>


            <button id="btn-join-1" type="submit"
                    class="btn btn-block gap-1 bg-gradient-to-r from-sky-500 to-indigo-500">
                <i class="fa-solid fa-user-edit"></i>
                <span>회원 정보 수정</span>
            </button>
        </form>
    </div>
</main>
</body>
</html>