<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{usr/layout/layout.html}">
<head>
  <title>About</title>
</head>

<body>
<main layout:fragment="main" class="flex-grow flex items-center justify-center">
<style>
  .nickname h4 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  .contacts p {
    font-size: 16px;
    color: #555;
  }
  .contacts p span {
    font-weight: bold;
    color: #000;
  }
  .contacts table {
    margin-top: 20px;
  }
</style>
<div class="menu-bar bg-dark">
  <div class="container">
    <!-- 목차 내용 -->
    <h3 class="text-white text-center mt-3 mb-0">ABOUT</h3>
  </div>
</div>
<section class="about">
  <div class="container py-5">
    <!-- 이름 -->
    <header class="nickname text-center">
      <h4 class="mb-4" th:text="${member.nickname}">이름</h4>
      <!-- 연락처 -->
      <div class="contacts">
        <p class="mb-2"><span>연락처:</span> <span th:text="${member.phone}">000-0000-0000</span></p>
        <p class="mb-2"><span>이메일:</span> <span th:text="${member.email}">example@example.com</span></p>
        <p class="mb-2"><span>주소:</span> <span th:text="${member.address}">주소</span></p>
        <p th:if="${member.memberRole.toString() eq 'ROLE_SELLER'}" class="mb-2"><span>계좌번호:</span> <span th:text="${member.account}">000-0000-0000</span></p>
        <!--판매자이면 판매 상품 확인 -->
        <div th:if="${member.memberRole.toString() eq 'ROLE_SELLER'}">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>상품이름</th>
              <th>가격</th>
              <th>재고</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${member.products}">
              <td th:text="${product.name}"></td>
              <td th:text="${product.price}"></td>
              <td th:text="${product.inventory}"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </header>
    <div class="text-center mt-4">
      <div sec:authorize="isAuthenticated()" th:with="sellerId = ${#authentication.principal.member.id}">
        <a th:if="${sellerId == member.id}" class="btn btn-primary mr-2" th:href="@{/usr/member/modify}">수정</a>
      </div>
      <a class="btn btn-secondary" th:href="@{/usr/member/loginSuccess}">나가기</a>
    </div>
  </div>
</section>

<!-- 부트스트랩 스크립트 CDN 링크 -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.14.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</main>
</body>
</html>