<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{usr/layout/layout.html}">



<body>
<header>
</header>
<div class="menu-bar">
  <div class="index">

    <!-- 목차 내용 -->
    <h3>ABOUT</h3>

  </div>
</div>

<section class="about">
  <!-- 이름 -->

  <header class="nickname">
    <p><span th:text="${member.nickname}">이름</span>

      <!-- 연락처 -->
    <div class="contacts">
      <p th:text="${member.phone}">연락처</p>
      <p th:text="${member.email}">이메일</p>
      <p th:text="${member.address}">주소</p>
      <p th:text="${member.account}">계좌번호</p>
    </div>
  </header>
  <br><br>

  <br><br>

</section>


</body>
</html>